:root {
  --white: white;
  --black: black;
  --dim-grey: #6b6b6b;
  --walsh--walsh-mid-green: #47888a;
  --walsh--walsh-dark-green: #2c5c5d;
  --flowui-component-library--error-lighter: #fceff0;
  --flowui-component-library--error-darker: #5b0b11;
  --flowui-component-library--success-lighter: #ebfff6;
  --flowui-component-library--success-darker: #006638;
  --flowui-component-library--gray-900: #160042;
  --flowui-component-library--white: white;
  --flowui-component-library--gray-700: #282556;
  --flowui-component-library--gray-400: #b6b9ce;
  --flowui-component-library--grey-300: #e4e6f1;
  --flowui-component-library--gray-500: #6b7094;
  --flowui-component-library--gray-200: #f3f5fb;
  --flowui-component-library--grey-600: #393b6a;
  --flowui-component-library--primary-base: #642eff;
  --blue-violet: #6e2ed8;
  --663399: #602bb6;
  --deep-pink: #fc0a7e;
  --medium-violet-red: #b32e6e;
  --medium-slate-blue: #955df1;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.section.center {
  background-color: var(--white);
  -webkit-text-fill-color: inherit;
  background-image: linear-gradient(135deg, #fff, #350e47);
  background-clip: border-box;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  display: flex;
  position: relative;
}

.section.column {
  justify-content: space-between;
  height: auto;
  padding: 15vh 10vw;
  display: flex;
}

.section.column.devices {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section.column.faq {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section.cta {
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section.full-img {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section.wide {
  background-color: #1b1b1b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section.wide.img {
  padding-bottom: 0;
}

.section.wide.img.about {
  background-color: #fff;
}

.section.wide.img.about.team {
  background-color: #000;
}

.section.wide.purple {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section.wide.updates, .section.wide.updates.grey {
  background-color: var(--white);
}

.section.grid-imgs {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50vh;
  display: flex;
}

.section.center {
  background-color: #cf0063;
  background-image: linear-gradient(135deg, #dd1173, #350e47);
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  display: flex;
  position: relative;
}

.col {
  border: 1px #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
  padding-left: 0;
  display: flex;
}

.col.sideimg {
  flex: 0 auto;
  width: 25vw;
}

.col.padding {
  border-style: none;
  flex: 1;
  max-width: 50%;
  padding-left: 9vw;
  padding-right: 9vw;
}

.col.bg {
  border-style: none;
  align-items: flex-start;
  overflow: hidden;
}

.col.vertical {
  flex-direction: column;
}

.col.team {
  flex-basis: 33%;
}

.col.img {
  justify-content: center;
}

.hero {
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  width: 100%;
  height: auto;
  padding: 0 10vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  height: auto;
  display: flex;
}

.nav-inner {
  border-bottom: 1px rgba(255, 255, 255, .1);
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.body {
  background-color: rgba(0, 0, 0, 0);
  font-family: Gothic A1, sans-serif;
}

.heading {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10vh;
  font-weight: 500;
  line-height: 9vh;
}

.div-block-2 {
  z-index: 80;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  display: flex;
  position: relative;
}

.image {
  height: 40px;
  margin-bottom: 20px;
}

.feature-content {
  border: 1px #000;
  flex: none;
  width: 50vw;
  max-width: 450px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.feature-content.mid {
  width: 40vw;
  max-width: 500px;
}

.feature-content.icons {
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  width: 33.33%;
  max-width: none;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.feature-content.icons.numbers {
  width: 25%;
}

.heading-2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 400;
}

.button {
  pointer-events: auto;
  color: #fff;
  text-align: center;
  background-color: #fc0a7e;
  border-radius: 3px;
  margin-right: 0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.button:hover {
  color: #6b6b6b;
  background-color: #fff;
}

.button.outline {
  color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.button.contact {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
}

.button.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.button.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.button.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button.form-button:hover {
  color: #fff;
  background-color: #000;
}

.button.form-button.updates {
  background-color: var(--black);
}

.h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 300;
  line-height: 56px;
}

.p {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.p.list {
  margin-bottom: 0;
}

.div-block-3 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 8600px;
}

.div-block-3._02 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-size: 100vw;
}

.div-block-3._03 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-size: 100vw;
  height: 6000px;
}

.div-block-4 {
  flex-direction: column;
  align-items: center;
  width: 65%;
  max-width: 440px;
  display: flex;
}

.div-block-4.left {
  align-items: flex-start;
  margin-bottom: 30px;
}

.img-device {
  height: auto;
  max-height: 450px;
}

.h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  color: #6b6b6b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.div-block-5 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  display: flex;
}

.wrapper.welcome {
  z-index: 90;
  align-items: flex-start;
  width: 100vw;
  position: relative;
}

.wrap {
  text-align: center;
  max-width: 700px;
  padding-top: 20px;
  padding-bottom: 0;
}

.title {
  color: #a8a8a8;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px #2e2e2e;
  padding-bottom: 5px;
  font-size: 12px;
  display: inline-block;
}

.title.white {
  color: rgba(255, 255, 255, .6);
  border-bottom-color: rgba(255, 255, 255, .4);
}

.image-2 {
  flex: none;
}

.div-block-6 {
  align-items: center;
  display: flex;
}

.div-block-7 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
}

.div-block-7.team {
  flex-wrap: wrap;
  justify-content: center;
}

.div-block-8 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  height: 150px;
  display: flex;
}

.button-wrap {
  justify-content: center;
  width: auto;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image-3 {
  padding: 10px 30px 30px 0;
}

.thumb-food {
  background-color: #c6ced3;
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.thumb-food._01 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
}

.thumb-food._02 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
}

.thumb-food._03 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
}

.text-block {
  color: #fff;
}

.h4 {
  color: #fff;
  margin-bottom: 10px;
}

.h4.faq {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-link {
  color: #fff;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
  box-shadow: inset 0 -5px #fc0a7e;
}

.nav-menu {
  height: auto;
}

.div-block-11 {
  background-color: #acb1b4;
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.ico {
  height: 35px;
  margin-right: 20px;
}

.div-block-12 {
  margin-top: 50px;
}

._w-icon {
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 80px;
  margin-right: 20px;
  display: flex;
}

.form {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.field-newsletter {
  color: #fff;
  background-color: #300479;
  border: 1px solid #300479;
  border-radius: 10px;
  width: 340px;
  height: 80px;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 16px;
}

._w-img {
  flex: 1;
  overflow: hidden;
}

.image-4 {
  width: 100%;
  display: block;
}

.icon {
  height: 25px;
}

.nav-list {
  justify-content: space-between;
  margin-right: 30px;
  display: flex;
}

.hero-image {
  height: 85vh;
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.hero-image.new {
  height: 80vh;
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}

.hero-image.fitness {
  margin-right: 40px;
}

.light-blue {
  color: #9b68f0;
}

.black-text {
  color: #000;
}

.hero-content {
  z-index: 90;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vh;
  position: relative;
}

.feature-wrap {
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
}

.feature-wrap.logos {
  border-style: none;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.feature-wrap.icons {
  border-radius: 0;
  justify-content: space-between;
  width: 90vw;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
}

.feature-image {
  border: 1px #000;
  justify-content: center;
  align-items: center;
  width: 50vw;
  display: flex;
}

.black {
  color: #000;
}

.hero-subhead {
  color: #fff;
  text-align: left;
  max-width: 61%;
  font-size: 30px;
  line-height: 44px;
}

.bottom-image-wrap {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.black-bar {
  background-color: #2a2326;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-icon {
  height: 35px;
  margin-bottom: 30px;
}

.purple {
  color: #b32e6e;
}

.footer {
  background-color: #1b1b1b;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #6b6b6b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.text-block-2 {
  color: rgba(255, 255, 255, .3);
  font-size: 12px;
}

.form-2 {
  margin-top: 40px;
  display: flex;
}

.input {
  clear: none;
  color: #000;
  background-color: #fff;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  flex: 0 auto;
  height: 70px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
  transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1);
  box-shadow: inset 0 0 #fc0a7e;
}

.input:hover, .input:focus {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input::placeholder {
  color: #555;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.quote-slider {
  background-color: rgba(0, 0, 0, 0);
  width: 90vw;
  height: 60vh;
  margin-top: 10vh;
}

.slider-arrow {
  color: #d6d6d6;
}

.quote-wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quote-attribution {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quote-dash {
  background-color: #d3d3d3;
  flex: none;
  width: 30px;
  height: 1px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.quote-icon {
  margin-bottom: 45px;
}

.slide-nav {
  font-size: 7px;
}

.number {
  font-size: 60px;
  line-height: 90px;
}

.float {
  border: 4px solid #09a4ec;
  width: 40vw;
  height: 50vh;
  position: relative;
  top: 200px;
  left: 567px;
}

.nav-logo-wrap {
  flex: none;
}

.image-licensing {
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 24px;
}

.image-licensing-wrap {
  flex: 1;
  max-width: 600px;
}

.heading-3 {
  text-align: left;
}

.text-block-3 {
  color: #fff;
}

.heading-4 {
  color: #000;
}

.heading-5, .text {
  color: var(--white);
}

.paragraph-2, .paragraph-3, .blackbgtext {
  color: #a8a8a8;
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  background-color: #1b1b1b;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: auto;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centered-heading {
  color: #000;
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  -webkit-text-fill-color: inherit;
  background-clip: padding-box;
  flex-direction: column;
  align-items: flex-start;
  height: 270px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.about-n {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.centered-heading-2 {
  color: #000;
  text-align: center;
  margin-bottom: 16px;
}

.about-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.about-slider-wrapper {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  margin-top: 50px;
}

.about-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.about-text {
  margin-bottom: 20px;
}

.contact-form {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--dim-grey);
  flex-flow: row;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px;
  display: flex;
}

.field-label {
  color: var(--black);
}

.paragraph-centered-black {
  color: var(--black);
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.grid {
  grid-template-rows: auto;
}

.grid-2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.form-3 {
  flex-flow: column;
  flex: 0 auto;
  display: flex;
}

.submit-button {
  align-self: flex-end;
  margin-top: 15px;
}

.centered-heading-contact-form {
  color: #000;
  text-align: center;
  margin-bottom: 16px;
}

.about-slider-2 {
  background-color: var(--black);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-3 {
  text-align: center;
  color: #a8a8a8;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.centered-subheading-2 {
  color: var(--white);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

.centered-subheading-2.black {
  color: var(--black);
}

.team-slider-wrapper-2 {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper-2 {
  width: 30%;
  margin-right: 5%;
}

.team-block-2 {
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: padding-box;
  padding-bottom: 24px;
}

.team-member-image-two-2 {
  vertical-align: baseline;
  height: 62.8757%;
  margin-bottom: 18px;
  display: inline-block;
}

.team-block-info-2 {
  flex-direction: column;
  align-items: flex-start;
  height: 20vh;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text-2 {
  margin-bottom: 20px;
}

.text-link-arrow-2 {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed-2 {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow-2 {
  display: none;
}

.team-slider-nav-2 {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.team-slider-2 {
  background-color: var(--black);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.walsh-menu-button {
  color: var(--black);
}

.walsh-button-hover-fill {
  background-color: #000;
  border-radius: 100%;
  width: 5em;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -100%;
  bottom: auto;
  left: -46%;
  right: auto;
}

.walsh-icon-arrow-flip {
  height: 12px;
}

.walsh-arrow-wrapper {
  grid-row-gap: 0px;
  flex-direction: column;
  flex: none;
  align-items: center;
  height: 12px;
  display: flex;
  overflow: hidden;
}

.walsh-label-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.2em;
}

.walsh-button-label-wrapper {
  z-index: 4;
  grid-column-gap: 8px;
  align-items: center;
  display: flex;
  position: relative;
}

.walsh-link-block-orange {
  color: #fff;
  text-align: center;
  background-color: #ff715b;
  border-radius: 100px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 20px 32px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-orange:hover {
  background-color: #ffbba6;
}

.walsh-link-block-transparent-1 {
  box-shadow: inset 1px -1px 0 0 var(--walsh--walsh-mid-green), inset -1px 1px 0 0 var(--walsh--walsh-mid-green), inset -1px -1px 0 0 var(--walsh--walsh-mid-green), inset 1px 1px 0 0 var(--walsh--walsh-mid-green);
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-transparent-1:hover {
  box-shadow: none;
  color: var(--walsh--walsh-dark-green);
  background-color: #fff;
}

.walsh-flex-nav-buttons {
  grid-column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.walsh-dropdown-link {
  color: #6b6b6b;
  border-radius: 2px;
  font-weight: 600;
}

.walsh-dropdown-link:hover {
  color: #ff8d86;
  background-color: #eee;
  border-radius: 3px;
}

.walsh-dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 0 0 14px 5px rgba(0, 0, 0, .05);
}

.walsh-icon-dropdown {
  margin-right: 12px;
}

.walsh-toggle {
  color: #fff;
  border-radius: 8px;
  padding-left: 18px;
  padding-right: 32px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
}

.walsh-toggle:hover {
  background-color: rgba(0, 0, 0, .35);
}

.walsh-dropdown {
  color: #fff;
}

.walsh-nav-link-white {
  color: var(--black);
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.walsh-nav-link-white:hover {
  background-color: rgba(0, 0, 0, .35);
}

.walsh-nav-menu-green {
  grid-column-gap: 8px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.walsh-nav-logo {
  height: 32px;
}

.walsh-brand-block {
  z-index: 2;
  align-items: center;
  width: auto;
  height: 100%;
  display: flex;
}

.walsh-inner-nav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.walsh-container-nav {
  background-color: var(--white);
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
}

.walsh-main-nav {
  background-color: rgba(0, 0, 0, 0);
}

.walsh-nav-wrapper-green {
  z-index: 10;
  background-color: #204f58;
  flex: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.float-nav-wrapper {
  z-index: 10;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--white);
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.f-image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.f-contact-image-wrapper {
  max-width: 550px;
  height: 100%;
}

.f-error-message {
  background-color: var(--flowui-component-library--error-lighter);
  color: var(--flowui-component-library--error-darker);
  text-align: center;
  border-radius: 8px;
}

.f-success-message {
  background-color: var(--flowui-component-library--success-lighter);
  color: var(--flowui-component-library--success-darker);
  letter-spacing: -.03em;
  font-size: 14px;
  line-height: 24px;
}

.f-button-neutral {
  background-color: var(--flowui-component-library--gray-900);
  color: var(--flowui-component-library--white);
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.f-button-neutral:hover {
  background-color: var(--flowui-component-library--gray-700);
}

.f-checkbox-label {
  color: var(--flowui-component-library--gray-900);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.f-checkbox {
  border-width: 2px;
  border-color: var(--flowui-component-library--gray-400);
  background-color: var(--flowui-component-library--white);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
}

.f-checkbox.w--redirected-checked {
  background-color: var(--flowui-component-library--gray-900);
  background-size: 12px;
  border-style: none;
  border-radius: 4px;
}

.f-checkbox.w--redirected-focus {
  box-shadow: none;
}

.f-checkbox-field {
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.f-margin-bottom-32 {
  margin-bottom: 32px;
}

.f-text-area {
  border: 1px solid var(--flowui-component-library--grey-300);
  color: var(--flowui-component-library--gray-900);
  border-radius: 8px;
  width: 100%;
  min-height: 112px;
  margin-bottom: 0;
  padding: 16px;
  font-size: 14px;
  line-height: 24px;
}

.f-text-area:focus {
  border-color: var(--flowui-component-library--gray-400);
}

.f-text-area::placeholder {
  color: var(--flowui-component-library--gray-500);
}

.f-text-area.planresponse {
  min-height: 500px;
}

.f-field-label {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.01em;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.f-margin-bottom-16 {
  margin-bottom: 16px;
}

.f-field-input {
  border: 1px solid var(--flowui-component-library--grey-300);
  border-radius: 8px;
  min-height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  transition: all .2s;
}

.f-field-input:focus {
  border-color: var(--flowui-component-library--gray-400);
}

.f-field-input::placeholder {
  color: var(--flowui-component-library--gray-500);
}

.f-contact-form {
  flex-direction: column;
  display: flex;
}

.f-paragraph-large {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 32px;
}

.f-h3-heading {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}

.f-heading-detail-small {
  color: var(--flowui-component-library--gray-500);
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.f-margin-bottom-08 {
  margin-bottom: 8px;
}

.f-margin-bottom-48 {
  margin-bottom: 48px;
}

.f-contact-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  align-items: start;
}

.f-container-regular {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large {
  padding: 92px 5%;
  position: relative;
}

.f-margin-bottom-49 {
  margin-bottom: 16px;
}

.f-margin-bottom-50 {
  margin-bottom: 8px;
}

.f-margin-bottom-51 {
  margin-bottom: 48px;
}

.f-paragraph-small {
  letter-spacing: -.01em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8;
}

.f-form-button {
  background-color: var(--flowui-component-library--gray-900);
  outline-offset: 0px;
  color: var(--flowui-component-library--white);
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 48px;
  outline: 2px solid rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.f-form-button:hover {
  background-color: var(--flowui-component-library--gray-700);
}

.f-form-button:active {
  background-color: var(--flowui-component-library--gray-900);
}

.f-input-outlined {
  border: 1px solid var(--flowui-component-library--grey-300);
  border-radius: 8px;
  min-height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
}

.f-input-outlined:focus {
  border-color: var(--flowui-component-library--gray-400);
}

.f-input-outlined::placeholder {
  color: var(--flowui-component-library--gray-400);
}

.f-cta-form-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  align-items: center;
  width: 100%;
  display: flex;
}

.f-cta-form-block {
  max-width: 460px;
  margin-bottom: 8px;
}

.f-margin-bottom-52 {
  margin-bottom: 8px;
}

.f-paragraph-regular {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
}

.f-h4-heading {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1.4;
}

.f-grid-two-column {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.f-section-regular {
  padding: 72px 5%;
  position: relative;
}

.f-navigation-button {
  background-color: var(--flowui-component-library--gray-900);
  outline-offset: 0px;
  color: var(--flowui-component-library--white);
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 48px;
  outline: 2px solid rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.f-navigation-button:hover {
  background-color: var(--flowui-component-library--gray-700);
}

.f-navigation-link {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.01em;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .35s;
}

.f-navigation-link:hover {
  background-color: var(--flowui-component-library--gray-200);
  color: var(--flowui-component-library--gray-900);
}

.f-navigation-link.w--current {
  color: var(--flowui-component-library--primary-base);
}

.f-navigation-menu {
  grid-column-gap: 6px;
  align-items: center;
  display: flex;
  position: static;
}

.f-navigation-content {
  grid-column-gap: 8px;
  align-items: center;
  display: flex;
}

.f-logo {
  width: 70px;
}

.f-navigation-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.f-navigation {
  z-index: 10;
  background-color: #fff;
  align-items: center;
  width: 100%;
  min-height: 88px;
  padding: 24px 5%;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.icon-2 {
  color: var(--black);
}

.f-icon-regular {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: color .2s;
  display: flex;
}

.f-footer-social {
  background-color: var(--flowui-component-library--gray-200);
  color: var(--flowui-component-library--gray-900);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: color .3s;
  display: flex;
}

.f-footer-social:hover {
  color: var(--flowui-component-library--primary-base);
}

.f-footer-social-group {
  grid-column-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.f-footer-social-row-large {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
  display: flex;
}

.f-footer-link {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.01em;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition: color .3s;
}

.f-footer-link:hover {
  color: var(--flowui-component-library--primary-base);
}

.f-footer-vertical-divider {
  background-color: var(--flowui-component-library--grey-300);
  width: 1px;
  height: 16px;
}

.f-footer-menu {
  grid-column-gap: 24px;
  flex: none;
  align-items: center;
  display: flex;
}

.f-footer-group {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.f-footer-detail {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.f-footer-line {
  background-color: #e4e6f1;
  width: 1px;
  height: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.f-footer-logo-xs {
  width: 48px;
  height: 48px;
}

.f-footer-brand {
  align-items: center;
  display: flex;
}

.f-footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.f-container-large {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-footer-small {
  background-color: var(--white);
  padding: 32px 5%;
  position: relative;
}

.slide {
  background-image: url('../images/futuristic-gym.webp');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide._2 {
  background-image: url('../images/strongman-top.webp');
}

.slide._1 {
  background-image: url('../images/marathon-runner.webp');
}

.slide-2 {
  background-image: url('../images/marathon-runner.webp');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  width: 70vh;
  max-width: 100%;
  height: 80vh;
  margin-bottom: 40px;
  margin-right: 40px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 3vw;
  overflow: clip;
}

.text-block-4, .text-block-5 {
  font-family: Merriweather, serif;
  font-size: 30px;
}

.hero-subhead-2 {
  color: #fff;
  max-width: 60%;
  font-size: 30px;
  line-height: 44px;
}

.wrap-2 {
  text-align: center;
  max-width: 700px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.features-metrics {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 10px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.features-wrapper {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.features-title {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small {
  font-size: 24px;
  line-height: 32px;
}

.button-2 {
  display: flex;
}

.button-3 {
  color: #fff;
  text-align: center;
  background-color: #fc0a7e;
  border-radius: 3px;
  margin-right: 0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.button-3:hover {
  color: #6b6b6b;
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .section.center {
    flex-direction: column;
    height: auto;
    padding-top: 15vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .nav-menu {
    position: absolute;
  }

  .hero-image {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }

  .bottom-image-wrap {
    background-image: none;
    height: auto;
  }

  .feature-icon {
    flex: none;
  }

  .quote-slider {
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .quote-wrap {
    width: 70vw;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu-2 {
    background-color: #000;
    min-width: 240px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .heading-3 {
    font-size: 8vw;
  }

  .container {
    max-width: 728px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .container-2 {
    max-width: 728px;
  }

  .team-slide-wrapper-2 {
    width: 47%;
    margin-right: 6%;
  }

  .walsh-menu-button {
    color: #fff;
    order: 1;
  }

  .walsh-menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .walsh-button-hover-fill {
    display: none;
  }

  .walsh-link-block-orange {
    padding-left: 50px;
  }

  .walsh-flex-nav-buttons {
    justify-content: flex-start;
    margin-top: 15px;
  }

  .walsh-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .walsh-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .walsh-dropdown {
    width: 100%;
    margin-left: 0;
    margin-right: auto;
  }

  .walsh-nav-link-white {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .walsh-nav-link-white:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .walsh-nav-menu-green {
    background-color: var(--white);
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .walsh-container-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
  }

  .f-contact-image-wrapper {
    max-width: 100%;
  }

  .f-contact-grid, .f-grid-two-column {
    grid-template-columns: 1fr;
  }

  .f-navigation-menu-button {
    border: 1px solid var(--flowui-component-library--gray-200);
    color: var(--flowui-component-library--grey-600);
    border-radius: 8px;
    padding: 10px;
  }

  .f-navigation-menu-button.w--open {
    background-color: var(--flowui-component-library--gray-900);
    border-color: #fff;
  }

  .f-navigation-link {
    width: 100%;
  }

  .f-navigation-menu {
    background-color: var(--flowui-component-library--white);
    color: var(--flowui-component-library--grey-600);
    padding: 12px;
    position: absolute;
  }

  .f-navigation-menu.w--open {
    background-color: var(--flowui-component-library--gray-700);
    border-color: #fff;
  }

  .f-navigation-content {
    align-items: center;
    width: auto;
    display: flex;
  }

  .f-navigation-logo-link {
    margin-right: 0;
  }

  .f-navigation {
    position: relative;
  }

  .f-footer-social-row-large {
    margin-left: 0;
  }

  .f-footer-group {
    grid-row-gap: 16px;
    flex-direction: column;
  }

  .f-footer-bottom {
    grid-row-gap: 24px;
    flex-direction: column;
  }

  .hero-subhead-2 {
    font-size: 24px;
    line-height: 31px;
  }

  .heading-6 {
    font-size: 8vw;
  }

  .container-3 {
    max-width: 728px;
  }

  .features-wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .feature-content.icons {
    text-align: left;
    align-items: flex-start;
    width: auto;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-content.icons.numbers {
    flex: none;
    align-items: center;
    width: 50%;
  }

  .button.form-button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .wrap {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .hero-image {
    margin-bottom: 10vw;
  }

  .hero-content {
    margin-bottom: 5vh;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .feature-wrap.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap.icons.numbers {
    display: flex;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .form-2 {
    flex-direction: column;
  }

  .input {
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    padding-left: 22px;
    padding-right: 22px;
  }

  .quote-attribution {
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    font-size: 30px;
  }

  .form-block {
    width: 100%;
  }

  .team-slider, .about-slider, .about-slider-2, .team-slider-2 {
    padding: 60px 15px;
  }

  .walsh-brand-block {
    padding-left: 0;
  }

  .f-contact-image-wrapper {
    max-width: 100%;
  }

  .f-h3-heading {
    font-size: 40px;
  }

  .f-contact-grid {
    grid-template-columns: 1fr;
  }

  .f-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .f-h4-heading {
    font-size: 36px;
  }

  .f-section-regular {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .wrap-2 {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .features-metrics {
    padding: 60px 15px;
  }

  .features-wrapper {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section.wide.img.about {
    background-color: #fff;
  }

  .section.center {
    padding-bottom: 10vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-inner {
    width: 100vw;
  }

  .feature-content {
    width: auto;
  }

  .feature-content.icons.numbers {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .image-2 {
    width: 100%;
  }

  .button-wrap {
    flex-direction: column;
    width: 90vw;
  }

  .hero-image {
    width: 80%;
  }

  .feature-wrap, .feature-wrap.reverse {
    flex-direction: column;
  }

  .feature-image {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .feature-icon {
    margin-bottom: 20px;
  }

  .form-2 {
    flex-direction: column;
    width: 90vw;
  }

  .quote-slider {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .slider-arrow {
    font-size: 24px;
  }

  .left-arrow, .right-arrow {
    width: 15vw;
  }

  .number {
    font-size: 40px;
  }

  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }

  .container {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .team-block-info {
    height: auto;
  }

  .centered-heading-2, .centered-heading-contact-form {
    margin-bottom: 24px;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading-3 {
    margin-bottom: 24px;
  }

  .team-slide-wrapper-2 {
    width: 100%;
    margin-right: 0%;
    padding-right: 10px;
  }

  .team-block-info-2 {
    padding-bottom: 20px;
  }

  .team-member-text-2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .walsh-label-button {
    font-size: 16px;
  }

  .walsh-link-block-orange {
    align-self: center;
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-link-block-transparent-1 {
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-flex-nav-buttons {
    grid-row-gap: 10px;
    flex-direction: column;
    align-items: stretch;
  }

  .walsh-toggle {
    padding-top: 15px;
    padding-bottom: 14px;
  }

  .walsh-nav-link-white {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .walsh-nav-logo {
    height: 24px;
  }

  .f-form-button {
    width: 100%;
  }

  .f-cta-form-wrapper {
    flex-direction: column;
  }

  .f-cta-form-block {
    width: 100%;
  }

  .f-navigation-button, .f-footer-vertical-divider {
    display: none;
  }

  .f-footer-menu {
    flex-direction: column;
  }

  .heading-6 {
    font-size: 42px;
    line-height: 56px;
  }

  .wrap-2 {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .container-3 {
    max-width: none;
  }
}

#w-node-_73392dd3-9c46-9035-c188-fe052dfa7e3a-eab1c5e8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}


